.video-detail-component
  padding-top: 25px
  background-color : white
  cf()
  .details
    col(2/3)
    .artist
      cf()
      border-bottom : solid 1px gray-light
      font-weight: normal
      h1
        font-size: 1.4em
        line-height: 1.2em
        margin: 0
      h2
        color: pink
        font-size: 1.1em
        line-height 1.2em
        margin: 0

      img
        width: 80px
        float: left
        padding-right: 10px

    .view-count
      float: right
    ul
      padding-left 0
      display inline-block

    li
      float: left
      list-style-type: none
      a
        font-size: 2em
        padding-right: 5px
    .buy
      font-size : .8em
      float:right
      a
        color: pink
  .ad
    col(1/3)
