[class*='icon-vevo'] 
  font-family: 'vevo'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1 
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: pink

  &:hover 
    text-decoration: none
    color: pink

  &.disabled 
    color: gray-light
    pointer-events: none
  

//
// vevo icon
//
.logo-icon-vevo:after 
  content: '\71'

//
// social glyphs
//
.share-icon-vevo:after 
  content: '\72'

.add-icon-vevo:after 
  content: '\74'

.buy-icon-vevo
  font-size:48px !important
  vertical-align: sub
  &:after 
    content: '\75'

.info-icon-vevo:after 
  content: '\79'

//
// video player glyphs
//
.play-icon-vevo:after 
  content: '\69'

.search-icon-vevo:after 
  content: '\61'

.edit-icon-vevo:after 
  content: '\6F'

.delete-icon-vevo:after 
  content: '\64'

.play-icon-vevo:after 
  content: '\6E'

.play-all-icon-vevo:after 
  content: '\69'

.previous-icon-vevo:after 
  content: '\31'

.forward-icon-vevo:after 
  content: '\32'

.stop-icon-vevo:after 
  content: ' '
  width: 20px
  height: 20px
  background-color: black

.pause-icon-vevo:after 
  content: '\6D'

.volume-icon-vevo:after 
  content: '\34'

.mute-icon-vevo:after 
  content: '\33'

.airplay-icon-vevo:after 
  content: '\36'

.cc-icon-vevo:after 
  content: '\35'

.shuffle-icon-vevo:after 
  content: '\63'

.full-screen-icon-vevo:after 
  content: '\62'
